<app-layout>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Produto</h5>
      <div class="row">
        <div class="form-group col-12">
          <select [(ngModel)]="selecionadoCombobox" class="form-control">
            <option *ngFor="let produto of listaTotalProdutos" [ngValue]="produto">
              {{ produto.nome }}
            </option>
          </select>
        </div>
      </div>
      <div class="row" style="margin-bottom: 20px;">
        <div class="col-12">
          <button type="button" class="btn btn-primary" (click)="pesquisar()">Pesquisar</button>
        </div>
      </div>

      <div class="row">

        <div class="col-lg-12">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Código</th>
                <th>Nome</th>
                <th>Descricao</th>
                <th>Valor</th>
                <th>Observação</th>
              </tr>
            </thead>

            <tbody
              *ngFor="let produto of listaProdutoTabela | paginate: { itemsPerPage: 10, currentPage: paginaAtual }; let i = index">
              <tr>
                <th><input type="text" type="radio" name="selecionado" (change)="selecionar(produto)"></th>
                <td> {{ produto.codigo }} </td>
                <td> {{ produto.nome }} </td>
                <td> {{ produto.descricao }}</td>
                <td> {{ produto.valor }} </td>
                <td> {{ produto.observacao }} </td>
              </tr>
            </tbody>
          </table>
          
          <div class="d-flex justify-content-center">
            <pagination-controls class="pagination-previous pagination-next" (pageChange)="paginaAtual = $event"
              previousLabel="Anterior" nextLabel="Próximo">
            </pagination-controls>
          </div>
          
        </div>

      </div>

      <div class="row" style="margin-bottom: 20px;">
        <div class="col-12 d-flex justify-content-center">
          <button type="button" class="btn btn-primary" style="margin-right: 10px;" (click)="incluir()">
            Incluir
          </button>
          <button type="button" class="btn btn-primary" style="margin-right: 10px;" (click)="alterar()">
            Alterar
          </button>
          <button type="button" class="btn btn-primary" style="margin-right: 10px;" (click)="excluir()">
            Excluir
          </button>
        </div>
      </div>
    </div>
  </div>
</app-layout>

